
@import url('https://fonts.googleapis.com/css2?family=Robota:wght@100;400;700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    margin: 0;
    overflow-x: hidden;
}


.navbar-brand {
    font-size: 1.25rem;
    color: var(--black);
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
    font-weight: 600;
}

.text-dark {
    color: darkslategrey;
}

.text-muted{
    color: var(--black);
}

.text-center{
    text-align: center;

}

.text-uppercase {
    text-transform: uppercase;
}

.font-weight-bold {
    font-weight: 700;
}

a {
    color: chocolate;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: underline;
}

.bnt {
    background-color: transparent;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;;
}

.btn-sm{
    padding: 1rem;
    font-size: 1.5rem;
}

.btn-dark {
    color: var(--white);
    background-color: darkslategrey;
    padding: 1em 1.5em;
    border: gray solid 2px;
    border-radius: 6px;
}

.btn-dark:hover {
    color: chartreuse;
    background-color: var(--black);
    text-decoration: none;
    border: blue solid 2px;
}

.bg-white {
    background: var(--white);
}

.bg-gray{
    background-color: khaki;
}

.hero {
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*min-height: 100vh;*/
    min-height: 15em;
    height: 20em;
}

.hero header{
    padding: 8em 40% 8em 40%;
}


img{
    display: block;
    width: 100%;
}

.img-fluid{
    max-width: 100%;
}

.my-3{
    margin-top: 2em;
}

.my-3{
    margin-bottom: 2em;
}

.footer{
    padding: 6em;
    background-color: darkgray;
    color: white;
}

.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    padding: 0 15px;
}

.col-1{
    max-width: calc(100%/12);
}

.col-2{
    max-width: calc(2*100%/12);
}

.col-3{
    max-width: calc(3*100%/12);
}

.col-4{
    /*max-width: calc(4*100%/12);*/
    width: calc(4*100%/12);
}

.col-5{
    max-width: calc(6*100%/12);
}

.col-6{
    max-width: calc(50%);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix::after{
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.list-inline{
    list-style: none;
}

.list-inline-item{
    display: inline-block;
}

nav{
    background-color: white;
    padding: 1rem 1.5rem;
}

.navbar-nav{
    list-style: none;
}

.navbar-nav a{
    color: gray;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 0.75rem 0;
}

.navbar-nav a:hover{
    color: chocolate;
    text-decoration: underline;
}

/*slider*/

.align-items-center{
    align-items: center !important;
}

.d-flex{
    display: flex !important;
}

.slider{
position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.slides .slide{
    width: 20%;
    float: left;
    pasition: relative;
}

.slide{
    width: 100%;
}

.slide img{
    width: 100%;
    max-width: 100%;
    height: 20em;
    object-fit: cover;
}

.overflow{
    overflow: hidden;
    width: 100%;
}

.hero header{
    padding: 8em 0% 8em 0%;
}

.slides .items{
    width: 500%;
    line-height: 0;
    margin: 0;
}

@keyframes slider {
    0% {left: 0%;}
    10%{left: 100%;}
    20%{left: -100%;}
    30%{left: -200%;}
    40%{left: -300%;}
    50%{left: -400%;}
    60%{right:400%}
    100% {left:-400%;}
    90%{right: 100%;}
    80%{right: 200%;}
    70%{right: 300%;}
    60%{right:400%;}

}

.slider .items{
    animation: 30s slider;
}

.slider .items:hover{
    animation: paused;
}

.text-slide{
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.carousel{
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.12);
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.carousel .carousel-track{
    display: flex;
    width: calc(250px*8);
    animation: scroll 40s linear infinite;
}

.carousel .carousel-item{
    width: 250px;
    height: 100px;
}

.carousel-item img{
    object-fit: cover;
}

@keyframes scroll {
    0% {transform: translateX(0)}
    100%{transform: translateX(calc(-250px*4))}
}

.carousel::before, .carousel::after{
    background: linear-gradient(to right, white 0%, rgba(255,255,255, 0)100%);
    content: '';
    height: 150px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.carousel::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.carousel::before{
    left: 0;
    top: 0;
}

.carousel-item{
    display: block;
    position: relative;
}

.category-item-title{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #333;
    background: white;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

